//@import './_colors.less';

html,
body,
#root {
	height: 100%;
}

.flex-container {
	display: flex;
	flex-direction: column;
	height: 100%;
}
.content {
	padding-top: 15px;
	flex: 1 0 auto;
}

.main-header {
	background: $color-two;
	color: #fff;
	padding: 15px 0;
}

.main-footer {
	margin-top: 25px;
	background: $color-two;
	color: #fff;
	flex-shrink: 0;
	padding: 25px 0;
}

.ui.form.custom {
	.ui.message {
		margin-top: 5px;
	}
}
