.question {
	margin-top: 100px;
}

#root {
	.ui.button {
		/*	background-color: $color-one;
	color: #fff; 

	&:hover,
	&.active,
	&.active:hover {
		background-color: $color-two;
		color: #fff;
	}*/

		&.green {
			background-color: $color-correct;
		}
		&.red {
			background-color: $color-wrong;
		}
		&.grey {
			background-color: $color-not-selected;
		}

		&.green,
		&.red,
		&.grey {
			&:hover {
				cursor: default;
			}
		}
	}

	.pristine {
		button,
		button:hover,
		button:active,
		button:focus,
		button.active,
		button.active:active {
			background-color: $button-hover-color;
		}
	}

	.svar-korrekt {
		color: $color-correct;
	}
	.svar-forkert {
		color: $color-wrong;
	}
}
